<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @member.status %>
</p>

<%= link_to 'Edit', edit_manage_member_path(@member) %> |
<%= link_to 'Back', manage_members_path %>
